@font-face {
  font-family: 'PlantinLK-Light';
  src: url('PlantinLK-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plantin';
  src: url('Plantin-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
